.App {
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  font-family: 'League Spartan', sans-serif;
  text-align: center;
  background: hsl(180, 52%, 96%);
  min-height: 100vh;
  font-size: 15px;
}

.img-container {
  width: 100%;
}

.img-container img {
  background: hsl(180, 29%, 50%); 
  width: 100%;
  max-height: 200px;
  min-height: 156px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 80vw;
  min-height: 70px;
  max-width: 1088px;
  padding: 15px 30px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: -40px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px hsla(180, 8%, 52%, 0.233);
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
}

.clear-btn {
  border: none;
  font-weight: 700;
  background: white;
  color: hsla(180, 14%, 20%, 0.65);
  cursor: pointer;
}

.clear-btn:hover {
  text-decoration: underline;
  color: hsl(180, 29%, 50%);
}

.job-items-container {
  margin-bottom: 50px;
}

.header-desktop {
  display: inline;
}

.header-mobile {
  display: none;
  max-height: 156px;
}


@media (max-width: 960px){

  .filter-container {
    padding: 15px 20px;
  }

}

@media (max-width: 680px){

  .header-desktop {
    display: none;
  }
  
  .header-mobile {
    display: inline;
  }

}

@media (max-width: 680px){

  .filter-container {
    width: 85vw;
  }

}

@media (max-width: 360px){
  .filter-container {
    width: 88vw;
  }
}


 